extends layout

block content

  form#trivia-form
    each q, index in questions
      .question-block
        h3 #{index + 1}. #{q.question}
        if q.options
          each opt in q.options
            label
              input(type="radio", name=`q${index}`, value=opt required)
              | #{opt}
        else
          p(style="color: red") No options available.

    button(type="submit") Submit

  hr
  div#result

